:root{
    --TaskbarHeight: 50px;
    --TaskbarColor: #585858;
    --TaskbarBorderColor: #dededc;
    --DesktopHeight: calc(100% - var(--TaskbarHeight));
    --DesktopColor: #edece7;
    --DesktopAppSize: 70px;
}
body, html{
    margin:0px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#screen{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
}
#screen #desktop{
    display: flex;
    width: 100%;
    height: var(--DesktopHeight);
    background-color: var(--DesktopColor);
}
#screen #taskbar{
    width: 100%;
    height: var(--TaskbarHeight);
    background-color: var(--TaskbarColor);
    border-top: 1px solid var(--TaskbarBorderColor);
}

app{
    margin: 2px;
    padding: 2px;
    height: var(--DesktopAppSize);
    width: var(--DesktopAppSize);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: green;
}
app img{
    object-fit: contain;
    height: 55%;
}
app font{
    height: 40%;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
}
app.close font.open{
    display:none;
}
app.open font.close{
    display:none;
}
app.open font.open{
    margin-top: 3px;
}

.highlight {
    background-color: yellow;
  }